.loginMain {
  grid-template-rows: 2fr 1fr 50px;
}
.idAndPasswd {
  padding: 50px 20px;
  display: grid;
  grid-template-rows: 70px 70px 40px;
}
.loginButton {
  color: white;
  border-radius: 10px;
}
.wannaJoin {
  display: grid;
  grid-template-columns: 4fr 1fr;
  font-size: 0.5rem;
  font-weight: bold;
  margin: 10px 40px;
}
